.Collage_Main{
    position:relative;
    height:100vh;
}
.Collage_img{
    width: 100%;
}
.img1, .img2, .img3, .img4 {
    opacity: 0.7;
    position:absolute;
    width: 40vw;
    height: 40vh;
    transform: scale(0.89);
    object-fit: cover;
}
.img1{
    top:3%;
    left:15%;
    transition: 1s ease-in-out;
    animation: dog 2s;
}
@keyframes dog {
    0%{
        top: -200px;
        opacity: 0;
    }
    100%{
        top:3%;
        opacity: 1;
    }
}
@keyframes education {
    0%{
        right: -200px;
        opacity: 0;
    }
    100%{
        right:10%;
        opacity: 1;
    }
}
@keyframes medical {
    0%{
        left: -400px;
        opacity: 0;
    }
    100%{
        left:10%;
        opacity: 1;
    }
}
@keyframes children {
    0%{
        bottom: -400px;
        opacity: 0;
    }
    100%{
        bottom:15%;
        opacity: 1;
    }
}
.img2{
    top:3%;
    right:10%;
    transition: 1s ease-in-out;
    animation: education 2s;
}
.img3{
    top:44%;
    left:10%;
    transition: 1s ease-in-out;
    animation: medical 2s;

}
.img4{
    bottom:15%;
    right:15%;
    transition: 1s ease-in-out;
    animation: children 2s ;
}
.Collage_tagline{
    background-color: #7354CC;
    opacity: 0.7;
    width: 100%;
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Bebas-Neue;
    position:absolute;
    transition:1s ease-in-out;
    animation: tagline 1s;
}
@keyframes tagline {
    0%{
        top:-2000px;
        opacity: 0;
    }
    100%{
        top:0px;
        opacity: 0.7;
    }
    
}
.tagline{
    width: 50%;
}
.stats{
    background: #E5E5E5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.stat__number{
    font-family: Bebas-Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 38px;
    color: #7354CC;
}
.stats__name{
    font-family: Arima;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 39px;
    color: #000000;
}
@media screen and (max-width: 426px) and (min-width: 300px){
    .Collage_Main{
        background-image: url('../images/msn.png');
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: 50%;
    }
    .Collage_tagline{
        color: white;
        font-size: 3rem;
    }
    .tagline{
        width: 80%;
    }
    .img1, .img2, .img3, .img4{
        display: none;
    }
    .stat__number{
        font-size: 1.3rem;
    }
    .stats__name{
        font-size: 1rem;
    }
}


@media screen and (max-width: 650px) and (min-width: 426px){
    
}

@media screen and  (max-width: 768px) and (min-width: 650px){
    
}

@media screen and  (max-width: 900px) and (min-width: 768px){
    .Collage_tagline{
        color: white;
        font-size: 4.5rem;
    }
    .tagline{
        width: 80%;
    }
    .stat__number{
        font-size: 2rem;
    }
    .stats__name{
        font-size: 1.5rem;
    }
    .img1{
        top: 22%;
    }
    .img2{
        top:22%;
    }
    @keyframes dog {
        0%{
            top: -200px;
            opacity: 0;
        }
        100%{
            top:22%;
            opacity: 1;
        }
    }
    @keyframes education {
        0%{
            right: -200px;
            opacity: 0;
        }
        100%{
            right:10%;
            opacity: 1;
        }
    }
}

@media screen and  (max-width: 1200px) and (min-width: 900px){
    .Collage_tagline{
        color: white;
        font-size: 4.5rem;
    }
    .tagline{
        width: 80%;
    }
    .stat__number{
        font-size: 2rem;
    }
    .stats__name{
        font-size: 1.5rem;
    }
    .img1{
        top: 20%;
    }
    .img2{
        top:15%;
    }
    @keyframes dog {
        0%{
            top: -200px;
            opacity: 0;
        }
        100%{
            top:20%;
            opacity: 1;
        }
    }
    @keyframes education {
        0%{
            right: -200px;
            opacity: 0;
        }
        100%{
            right:10%;
            opacity: 1;
        }
    }
}

@media screen and  (max-width: 1400px) and (min-width: 1200px){
    
}

@media screen and  (max-width: 2000px) and (min-width: 1400px){
    .Collage_tagline{
        font-size: 6.5rem;
    }
    .tagline{
        width: 60%;
    }
    .stat__number{
        font-size: 2rem;
    }
    .stats__name{
        font-size: 1.5rem;
    }
    .img1{
        top: 20%;
    }
    .img2{
        top:15%;
    }
    @keyframes dog {
        0%{
            top: -200px;
            opacity: 0;
        }
        100%{
            top:20%;
            opacity: 1;
        }
    }
    @keyframes education {
        0%{
            right: -200px;
            opacity: 0;
        }
        100%{
            right:10%;
            opacity: 1;
        }
    }
}

@media screen and  (max-width: 4000px) and (min-width: 2000px){
    .signup{
        width: 22vw;
    }
}

@media screen and (max-device-width:768px){
    .signup{
        width: 50vw;
    }

}

@media screen and (max-device-width:426px){
    

}
