.wrap{
    position:relative;
    width:80vmin; 
    height:80vmin;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background:inherit;
    opacity:1;
    transform: scale(.8) translateZ(0px);
}
.wrap__link{
    position: absolute;
    left: 0;
    top: 0;
    width: 47.5%;
    height: 47.5%;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    transform: scale(.5) translateZ(0px);
    background-color: #CABEEC;
}
.wrap__link, .wrap__div{
    height: 50%;
    background-size: cover;
    opacity: 1;
    transition: opacity .5s;
    border-radius: inherit;
}
.wrap__div {
    display: block;
}
.wrap__link, .wrap__div {
    opacity: 1;
    transform: translatez(0px);
}
.wrap__link:nth-child(1) {
    font-family: Arima;
    font-weight: 500;
    font-size: 2rem;
    border-radius: 40vmin 0 0 0;
    transform-origin: 110% 110%;
    transition: transform .4s .15s;
}
.wrap__link:nth-child(1):hover~.wrap__link:nth-child(5){
    transition: all ease-in-out 1s;
    opacity: 1;
    background-image: url('../images/hospital.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% ;
} 
.wrap__link:nth-child(2):hover~.wrap__link:nth-child(5){
    transition: all ease-in-out 1s;
    opacity: 1;
    background-image: url('../images/magistrate.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.wrap__link:nth-child(3):hover~.wrap__link:nth-child(5){
    transition: all ease-in-out 1s;
    opacity: 1;
    background-image: url('../images/smiling-baby.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% ;
}
.wrap__link:nth-child(4):hover~.wrap__link:nth-child(5){
    transition: all ease-in-out 1s;
    opacity: 1;
    background-image: url('../images/animal-care.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% ;
}
.wrap__link:nth-child(2) {
    font-family: Arima;
    font-weight: 500;
    border-radius: 0 40vmin 0 0;
    left: 52.5%;
    transform-origin: -10% 110%;
    transition: transform .4s .2s;
}
.wrap__link:nth-child(3) {
    font-family: Arima;
    font-weight: 500;
    border-radius: 0 0 0 40vw;
    top: 52.5%;
    transform-origin: 110% -10%;
    transition: transform .4s .25s;
}
.wrap__link:nth-child(4) {
    font-family: Arima;
    font-weight: 500;
    border-radius: 0 0 40vmin 0;
    top: 52.5%;
    left: 52.5%;
    transform-origin: -10% -10%;
    transition: transform .4s .3s;
}
.wrap__link:nth-child(5) {
    width: 55%;
    height: 55%;
    left: 22.5%;
    top: 22.5%;
    border-radius: 50vmin;
    box-shadow: 0 0 0 5vmin #ffffff;
    background-image: url('../images/msn.png');
    background-repeat: no-repeat;
}
/*medical curve*/
.M {
    transform: translate(40px, 185px) rotate(-80deg);
}

.E {
    transform: translate(20px, 140px) rotate(-70deg);
}

.D {
    transform: translate(13px, 100px) rotate(-60deg);
}

.I {
    transform: translate(13px, 75px) rotate(-50deg);
}

.C {
    transform: translate(13px, 54px) rotate(-40deg);
}

.A {
    transform: translate(14px, 30px) rotate(-35deg);
}

.L{
    transform: translate(20px, 15px) rotate(-20deg);
}
/*education curve*/
.E2 {
    transform: translate(20px, 10px) rotate(15deg);
}

.D2 {
    transform: translate(25px, 22px) rotate(25deg);
}

.U {
    transform: translate(23px, 38px) rotate(30deg);
}

.C2 {
    transform: translate(23px, 55px) rotate(40deg);
}

.A2 {
    transform: translate(24px, 78px) rotate(45deg);
}

.T {
    transform: translate(20px, 103px) rotate(55deg);
}

.I2{
    transform: translate(15px, 125px) rotate(60deg);
}
.O {
    transform: translate(8px, 155px) rotate(65deg);
}
.N{
    transform: translate(-13px, 195px) rotate(70deg);
}
/*Children curve*/
.C3 {
    transform: translate(30px, 10px) rotate(75deg);
}

.H {
    transform: translate(10px, 45px) rotate(68deg);
}

.I3 {
    transform: translate(0px, 75px) rotate(68deg);
}

.L2 {
    transform: translate(0px, 100px) rotate(65deg);
}

.D3 {
    transform: translate(-10px, 128px) rotate(55deg);
}

.R {
    transform: translate(-10px, 153px) rotate(45deg);
}

.E3{
    transform: translate(-5px, 175px) rotate(40deg);
}
.N2 {
    transform: translate(5px, 195px) rotate(30deg);
}
/*Animals curve*/
.A3 {
    transform: translate(20px, 200px) rotate(-15deg);
}

.N3 {
    transform: translate(30px, 185px) rotate(-25deg);
}

.I4 {
    transform: translate(40px, 168px) rotate(-28deg);
}
.M2 {
    transform: translate(44px, 148px) rotate(-35deg);
}

.A4 {
    transform: translate(50px, 110px) rotate(-45deg);
}

.L3{
    transform: translate(48px, 78px) rotate(-55deg);
}
.S {
    transform: translate(38px,45px) rotate(-65deg);
}

.wrap__div span {
    font-family: Arima;
    font-size: 3rem;
    display: inline-block;
}
.radial__heading{
    font-family: Bebas-Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5% 10% 4% 10%;
    color: #7354CC;
}
.radial__tagline{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 149.69%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #817979;
    margin:  1% 10%;
}
@media screen and (max-width: 426px) and (min-width: 300px){
    .radial__heading{
        font-size: 2.5rem;
        line-height: 45px;
        margin: 10% 5%;
    }
    .radial__tagline{
        font-size: 1rem;
    }
    .wrap__div{
        transform: scale(0.4) translateX(-50px) translateY(20px);
    }
}


@media screen and (max-width: 650px) and (min-width: 426px){
    .radial__heading{
        font-size: 2.5rem;
        line-height: 45px;
        margin: 15% auto;
    }
    .radial__tagline{
        font-size: 1rem;
    }
    .wrap__div{
        transform: scale(0.4);
    }
}

@media screen and  (max-width: 768px) and (min-width: 650px){
    .radial__heading{
        font-size: 2.5rem;
        line-height: 45px;
        margin: 10% auto;
    }
    .radial__tagline{
        font-size: 1rem;
    }
    .wrap__div{
        transform: scale(0.4);
    }
}

@media screen and  (max-width: 900px) and (min-width: 768px){
    .radial__heading{
        font-size: 3.5rem;
        line-height: 55px;
        margin: 10% auto;
    }
    .radial__tagline{
        font-size: 1.5rem;
    }
    .wrap__div{
        transform: scale(0.7) translateX(-20px) translateY(20px);
    }
    .N{
        transform: translate(213px, 115px) rotate(70deg);
    }
}

@media screen and  (max-width: 1200px) and (min-width: 900px){
    .radial__heading{
        font-size: 4rem;
        line-height: 45px;
        margin: 8% auto;
    }
    .radial__tagline{
        font-size: 1.5rem;
    }
    .wrap__div{
        transform: scale(0.9) translateX(20px) translateY(35px);
    }
}

@media screen and  (max-width: 1400px) and (min-width: 1200px){
    .signup{
        width: 25vw;
    }
}

@media screen and  (max-width: 2000px) and (min-width: 1400px){
    .radial__heading{
        font-size: 4.5rem;
        line-height: 45px;
        margin: 8% auto;
    }
    .radial__tagline{
        font-size: 2rem;
    }
}

@media screen and  (max-width: 4000px) and (min-width: 2000px){
    .radial__heading{
        font-size: 6.5rem;
        line-height: 45px;
        margin: 8% auto;
    }
    .radial__tagline{
        font-size: 3.3rem;
    }
    .wrap__div{
        transform: scale(1.9) translateX(205px) translateY(150px);
    }
}

@media screen and (max-device-width:768px){
    .radial__heading{
        font-size: 3.5rem;
        line-height: 55px;
        margin: 10% auto;
    }
    .radial__tagline{
        font-size: 1.5rem;
    }
    .wrap__div{
        transform: scale(0.7) translateX(-20px) translateY(20px);
    }
    .N{
        transform: translate(213px, 115px) rotate(70deg);
    }

}

@media screen and (max-device-width:426px){
    
}