.why__heading{
    font-family: Bebas-Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 149.69%;
    text-align: center;
    margin: 5%;
    color: #7354CC;
}
.why__row{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    text-align: center;
}
.why__logo{
    width: auto;
    height: 15vh;
}
.why__point{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why__text{
    font-family:Arima;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 149.69%;
    text-align: center;
    margin: 10% 10%;
    color: #000000;
}
@media screen and (max-width: 426px) and (min-width: 300px){
    .why__heading{
        font-size: 2.5rem;
    }
    .why__row{
        grid-template-columns: auto ;
    }
    .why__logo{
        height: 10vh;
    }
    .why__text{
        font-size: 1rem;
    }
}


@media screen and (max-width: 650px) and (min-width: 426px){
    
}

@media screen and  (max-width: 768px) and (min-width: 650px){
    
}

@media screen and  (max-width: 900px) and (min-width: 768px){
    .why__heading{
        font-size: 3.5rem;
    }
    .why__row{
        grid-template-columns: auto auto;
    }
    .why__logo{
        height: 10vh;
    }
    .why__text{
        font-size: 1.5rem;
    }
}

@media screen and  (max-width: 1200px) and (min-width: 900px){
    .why__heading{
        font-size: 3.5rem;
    }
    .why__row{
        grid-template-columns: auto auto auto;
    }
    .why__logo{
        height: 10vh;
    }
    .why__text{
        font-size: 1.5rem;
    }
}

@media screen and  (max-width: 1400px) and (min-width: 1200px){
    
}

@media screen and  (max-width: 2000px) and (min-width: 1400px){
    
}

@media screen and  (max-width: 4000px) and (min-width: 2000px){
    
}

@media screen and (max-device-width:768px){
    .why__heading{
        font-size: 3.5rem;
    }
    .why__row{
        grid-template-columns: auto auto;
    }
    .why__logo{
        height: 10vh;
    }
    .why__text{
        font-size: 1.5rem;
    }

}

@media screen and (max-device-width:426px){
    
}